html, body {
    background-color: #0e0904;
}

.fullscreen {
    position: absolute;
    top: 0;
    right: 0;
}

.container {
    background-color: #0e0904;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    text-align: center;
}

.title {
    font-size: 2em;
    background-color: rgba(170, 170, 170, 0.61);
    border: 3px dashed #332618;
    border-radius: 20px;
    padding: 0 10px 5px 10px;
    text-decoration: underline;
}

.error, .neutral, .success {
    background-color: rgba(0, 0, 0, 0.685);
    font-size: 1.5em;
    font-weight: bolder;
    border-radius: 10px;
    padding: 0 3px 3px;
    margin: 0;
    transition: color 1s ease-out;
}

.error {
    color: #da1515;
}

.neutral {
    color: white;
}

.success {
    color: #15da15;
}

.thy-name-border {
    margin: 10px auto 0 auto;
    padding: 3px;
    border: 2px dashed rgb(171, 173, 151);
    border-radius: 10px;
    background-color: rgb(104, 61, 14);
}

.thy-name-border input {
    border: none;
    border: 2px dashed rgb(171, 173, 151);
    border-radius: 8px;
}

.thy-name {
    margin: 0;
    font-size: 1.5em;
    background-color: rgb(208, 209, 162);
    color: black;
}

.thy-name::placeholder {
    color: #a5a0a0;
}

.form {
    margin: 0 auto;
    padding: 0;
}

.begin-adventure {
    margin-top: calc(55vh - 30px - 6em);
    padding: 8px;
    border: 3px solid white;
    border-radius: 20px;
    font-size: 1.3em;
    font-weight: bold;
    overflow: hidden;
    white-space: nowrap;
    color: white;
    background-color: black;
    cursor: pointer;
}

.begin-adventure:hover, .begin-adventure:active {
    color: black;
    background-color: white;
    border-color: black;
}
