html, body {
    background-color: #0e0904;
}

.container {
    background-color: #0e0904;
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
}

.form {
    width: 100%;
}

.title {
    position: absolute;
    top: 3%;
    left: 50%;
    font-size: 2em;
    width: 90%;
    transform: translate(-50%, -50%);
    background-color: rgba(170, 170, 170, 0.61);
    border: 3px dashed #332618;
    border-radius: 20px;
    padding: 0 10px 5px 10px;
    text-decoration: underline;
    display: inline-block;
}

.thy-name-border {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0 auto;
    padding: 3px;
    border: 2px dashed rgb(171, 173, 151);
    border-radius: 10px;
    background-color: rgb(104, 61, 14);
    display: inline-block;
}

.thy-name-border input {
    border: none;
    border: 2px dashed rgb(171, 173, 151);
    border-radius: 8px;
}

.thy-name {
    margin: 0;
    font-size: 1.5em;
    background-color: rgb(208, 209, 162);
    color: black;
}

.thy-name::placeholder {
    color: #a5a0a0;
}

.error, .neutral, .success {
    position: absolute;
    top: 34%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.685);
    font-size: 1.5em;
    font-weight: bolder;
    border-radius: 10px;
    padding: 0 3px 3px;
    margin-top: 10px;
    width: 90%;
    transition: color 1s ease-out;
}

.error {
    color: #da1515;
}

.neutral {
    color: white;
}

.success {
    color: #15da15;
}

button {
    cursor: pointer;
}

.begin-adventure {
    position: absolute;
    bottom: 3%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 1%;
    padding: 0;
    border: none;
    border-radius: 40%;
    width: 15%;
    height: 25%;
    background-image: radial-gradient(#bbbb22, #333 68%);
    font-size: 1.3em;
    font-weight: bold;
    overflow: hidden;
    white-space: nowrap;
    color: black;
    cursor: pointer;
}

.begin-adventure:hover {
    background-image: radial-gradient(#ffff22, #fff 90%);
}

.begin-adventure:active {
    background-image: radial-gradient(#bbbb22, #aa1616 75%);
}

.rotate-container {
    width: 100vw;
    height: 100vh;
    background-color: black;
}
.rotate-screen {
    background-color: black;
    color: white;
    margin: 0;
    padding: 0 5px;
    font-size: 3em;
    text-align: center;
    width: calc(100% - 10px);
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
}
