html, body {
    background-color: #0e0904;
}

.App {
    text-align: center;
}

.rotate-container {
    width: 100vw;
    height: 100vh;
    background-color: black;
}
.rotate-screen {
    background-color: black;
    color: white;
    margin: 0;
    padding: 0 5px;
    font-size: 3em;
    text-align: center;
    width: calc(100% - 10px);
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
}
